/* Login Page Styles */
.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .login-form h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  button[type="submit"] {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #444;
  }
  
  .paragraph {
    margin-top: 7rem;
    text-align: center;
  }
  