.gallery {
    box-sizing: border-box;
}

.gallery h1, h2, h3 {
    font-size: 32px;
}


.gallery section button {
    margin-top: 50px;
    color: black;
    background-color: wheat;
    font-weight: 500;
    border-radius: 20px;
}

.gallery section {
    min-height: 600px;
    min-width: 800px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 320px;
    /* margin-top: 10px; */
    transition: transform 0.2s ease-in-out;

}

/* .box:nth-child(2){
    order: -1;
    margin-bottom: 40px;
}

.box:nth-child(1){
    align-self: flex-start;
    margin-top: 10px;
}
 */

.box img {
    width: 420px;
    height: 320px;
    border-radius: 30px;
  }

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 30px;
    z-index: 1;
}

.image-overlay p {
    font-size: 16px;
    line-height: 1.5; 
    margin-top: 30px;
    margin-bottom: 10px;
}

.image-overlay h3 {
    margin-top: 40px;
    line-height: 1.5; 
    color: wheat;
}
.box:hover .image-overlay {
    transform: scale(1.0);
    opacity: 1; 
}

.box:hover {
    transform: scale(1.2);
}

